{% extends "base.html.twig" %}

{% block body %}

<body>
  <header>
    <!-- Heroshot Start -->
    <div id="header" class="container-fluid d-flex align-items-center">
      <div id="heroshot" class="container">
        <h1>Handy, <span>dis moi oui !</span></h1>
        <p>Des activités pour tous,<br> de la compagnie pour chacun</p>
      </div>
    </div>
    <!-- Heroshot End -->
  </header>
  <!-- Header End -->

  <main id="index">
    <section>
      <div class="container">
        <div class="d-flex align-items-start">
          <img class="cercle-rouge" src="assets/Visuels/illustrations/demi-cercle-droite-trouver-une-activité.svg" alt="demi cercle rouge décoratif">
          <h2>Faire ensemble</h2>
        </div>

        <div class="row justify-content-between">

          <article class="col-12 col-lg-5 d-flex flex-column justify-content-between">
            <h3 class="d-flex align-items-end">
              <img src="Assets/Visuels/illustrations/Accompagnant.svg" alt="pictogramme d'un accompagnant"> 
              <span>Je suis un accompagnant</span>
            </h3>
            <p> En utilisant Handy, vous partagez des activités que vous souhaitez faire, en précisant les besoins
              spécifiques liés à votre situation et la meilleure manière de vous aider.
              Les accompagnants volontaires d’Handy consulteront votre proposition d’activité et vous proposeront leur
              aide selon leur disponibilité ! </p>
            <a class="btn-blue d-flex align-items-center" href="{{path('handy_home_accompagnant')}}" role="bouton" aria-label="bouton avec lien vers la page d'acceuil">Entrer sur Handy</a>

          </article>
          <article class="col-12 col-lg-5 d-flex flex-column justify-content-between">

            <h3 class="d-flex align-items-end">
              <img src="Assets/Visuels/illustrations/Bénéficiaire.svg" alt="pictogramme d'un accompagné"> 
              <span>Je veux être accompagné</span>
            </h3>
            <p> Vous souhaitez rencontrer de nouvelles personnes et vous aimez prendre soin des plus fragiles ? Grâce à
              Handy, vous accompagnez des personnes en situation de handicap à des activités de votre choix.
              Passez de bons moments avec eux, participez gratuitement à des évènements et rendez service en vous
              faisant
              aussi plaisir !</p>
            <a class="btn-blue d-flex align-items-center" href="{{path('handy_home_beneficiaire')}}" role="bouton" aria-label="bouton avec lien vers la page d'acceuil">Entrer sur Handy</a>

          </article>
        </div>

      </div>
  </main>


</body>

</html>

{% endblock %}

