{% extends 'base.html.twig' %}



{% block header %}

    <button type="button" class="btn btn-primary"> Je suis un accompagnant</button>
    <button type="button" class="btn btn-primary"> Je veux être accompagné</button>


{% endblock %}
